@model ForecastIO.Flags

<div>
    <h4>Flags</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.units)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.units)
        </dd>

    </dl>
</div>

